<div class="grid_7">
   <!-- <h1 class="o_2">progetti</h1> -->

   <a href="/admin/workshops/new" class="big_add_new o_2" >workshop<div>aggiungi un nuovo workshop</div></a>

   <p class="uppercase_divider">o modificane uno esistente</p>

   <%= render "/workshops/workshop" %>
   
</div>