<div class="grid_7">
   
   <h1 class="o_4">I nostri partner Non Riservato</h1>
   <p>[questa lista è formata dai partner presenti nei progetti che hai caricato]</p>

   <% @partners.each do |p| %>
      <h4><%= p.name %></h4>
   <% end %>

   
</div>