<div class="grid_7">
  <%= link_to new_admin_section_path, class: "big_add_new o_7" do %>
    <%= t('.create') %> <div><%= t('.create_subtitle') %></div>
  <% end %>

  <% if @sections.present? %>
    <ul>
    <% @sections.each do |section| %>
      <li>
        <%= link_to "Edit #{section.title}", edit_admin_section_path(section) %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
