<div class="grid_7">
   <!-- <h1 class="o_2">progetti</h1> -->

   <a href="/admin/projects/new" class="big_add_new o_2" >progetto<div>aggiungi un nuovo progetto</div></a>

   <p class="uppercase_divider">o modificane uno esistente</p>

   <%= render "/projects/project" %>
   
</div>