<div class="grid_12 contacts">
   <div class="banner_projects">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1398.7724021457839!2d9.1873166!3d45.4789728!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c1353c9ac555%3A0xab26ddaaa616b835!2sVia+Marsala%2C+8%2C+20121+Milano!5e0!3m2!1sit!2sit!4v1438007379801" width="940" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <div class="title">Contattaci</div>
   </div>
</div>

<div class="grid_6">
   <h3>APS NonRiservato</h3>
   Via Marsala 8, 20121 Milano<br>
   Tel 02. 88 468 228<br>
   C.F. 97707020158<br><br>
   scrivici a:<br>
   <a href="mailto:info@nonriservato.net">info@nonriservato.net</a>
   
</div>

<div class="grid_6">
   <h3>Ufficio Stampa</h3>
   ...
</div>

