<div class="grid_12 contacts">
   <div class="banner_projects">
       <%= image_tag "banner_organizzazioni.jpg", :title => "organizzazioni" %>
   </div>
</div>

<div class="grid_6">
   <h1>Un manifesto in movimento</h1>
   
   <div class="page_main">
     <h2>Manifesto #2 - 2015</h2>
    <p> <b>Non Riservato</b> è un network a vocazione produttiva che raccoglie associazioni, cooperative, professionisti e imprese che fanno della creatività uno strumento di trasformazione urbana e sociale. </p>
     <p><b>Non Riservato</b> produce, organizza, costruisce, comunica progetti culturali, creativi, sportivi, sociali e aggregativi negli spazi pubblici.</p>
     <p><b>Non Riservato</b> è un progetto di policy partecipata dal basso, capace di promuovere forme creative attraverso la collaborazione e la sinergia tra i propri aderenti e gli attori cittadini e favorire una percezione dello spazio pubblico come un’“arena della creatività”.</p>
     <p><b>Non Riservato</b> considera lo spazio pubblico, in particolare quello a cielo aperto, come luogo di produzione della dimensione collettiva del vivere urbano, cerniera tra la dimensione privata e quella pubblica, luogo dell’incontro casuale e di confronto tra istanze diverse, bene comune del quale prendersi cura collettivamente, oggetto di progettazione partecipata, catalizzatore per la creazione di una e più comunità.</p>
     <p><b>Non Riservato</b> agisce su tutta la città, dal centro alle periferie, per trasformare la percezione e il vissuto delle strade trafficate e di quelle più isolate, delle piazze storiche e di quelle meno nobili, dei giardini coltivati e delle aree residuali.</p>
     <p><b>Non Riservato</b> crede nell’uguaglianza dei diritti e delle opportunità, ma ama la diversità. Promuove la socializzazione, attraversamenti insoliti e mescolanze inattese, perché dalla combinazione di elementi diversi germogliano esperienze straordinarie e imprevedibili.</p>
     <p><b>Non Riservato</b> prende i suoi obiettivi molto seriamente, ma utilizza la leggerezza del gioco e della creatività per diffondere il contagio di un diverso stile di vita che dia posto a cooperazione, condivisione, sostenibilità, socializzazione e a un’idea di bellezza mutevole, soggettiva e non omologata.</p>
     <p><b>Non Riservato</b> crede che la collaborazione tra soggetti con finalità affini possa portare a un arricchimento in termini di capacità, opportunità, idee e successi di gran lunga superiore alla somma dei singoli elementi che costituiscono la rete. </p>
     <p><b>Non Riservato</b> ama costruire le cose e odia gli sprechi, per questo promuove l’autocostruzione e il riuso creativo di materiali di scarto. Per questa ragione, inoltre, si impegna a utilizzare materiale riciclato e riciclabile e di ridurre sprechi e fattori inquinanti in ogni attività e ogni fase del proprio lavoro. </p>
     <p><b>Non Riservato</b> ama gli spazi aperti e il verde, per questo promuove e accoglie progetti di creazione e ripristino di aree verdi. Per preservare gli spazi aperti e i panorami estesi, sostiene il recupero di edifici inutilizzati.</p> 
     <p><b>Non Riservato</b> ha uno sguardo sempre aperto a ciò che accade nel mondo, ma si concentra sullo sviluppo culturale e sociale locale. La comunità alla quale si rivolge è composita, comprende le persone di ogni età, provenienza, professione, che siano abitanti, city user o turisti. Anche le piccole e medie imprese presenti sul territorio concorrono a costruire il tessuto sociale cittadino, per questa ragione la rete si impegna a considerare il mercato locale nella scelta dei propri fornitori.</p>
     <p><b>Non Riservato</b> crede nel valore del lavoro e che il lavoro debba essere giustamente retribuito. E’ un esperimento di sostenibilità economica che favorisce la professionalizzazione dei partner, anche attraverso processi di formazione, l’impiego delle loro capacità nei progetti programmati, lo sviluppo e lo scambio di nuove competenze, la ricerca di nuove opportunità di sviluppo locali, nazionali ed internazionali, la capacità di contrattazione e confronto con partner pubblici e privati, la diffusione capillare delle attività della rete e delle specificità dei singoli partner sui media e nel territorio.</p> 
     <p>Perché il nome <b>Non Riservato</b>? Perché non amiamo le liste, le omologazioni, le parole d’accesso, l’esclusività e la competizione, i luoghi che selezionano all’ingresso. Preferiamo gli spazi aperti, l’imprevisto dell’incontro, conoscere persone imparando e insegnando, giocando mangiando, disegnando, coltivando, creando insieme in una piazza, in un giardino, in un cortile, nella città. </p>

     
     
     <h2>Manifesto #1 - 2012</h2>
     <p>Si sfoglia un giornale, si accende la tele, si scarica la posta, si aggiorna lo stato, si esce di casa, si corre alla metro, si legge un libro, si guarda il vicino (senza che se ne accorga), si corre a lavoro, a fare la spesa, a scuola, all'università, all'agenzia interinale, all'appuntamento con l'amico/a, l'amante, il veterinario, ci si chiude in ufficio, metro, negozio, bar, si beve un analcolico, un aperitivo, si mangia un po' di pasta, focaccia, carote (sono a dieta), si scambiano battute (sugli assenti) si ride dell'amico, del datore di lavoro, del politico di turno, andiamo alla festa? hai un invito, no? il dress code? ah, è riservata, si corre all'autobus, al tram, alla metro, si saluta il condomino (a occhi bassi) e, infine, ci si butta sul divano, si sfoglia un giornale, si accende la tele, si scarica la posta...</p>

     <p>Oppure. <b>Non Riservato</b>.</p>

     <p>Si accende il computer, si apre www.nonriservato.net, si sbircia tra gli eventi, si prende il rastrello, si piantano camelie, rose e ravanelli nell'aiuola abbandonata, si prende l'uncinetto e si decora la panchina al di là della strada, si legge ad alta voce, ci si arma di mestolo, si tagliano cipolle per il pranzo giù in strada, si prende la bici, si pedala a Barona, Dergano o Giambellino, si ammirano le opere d'arte pubblica, si leggono i versi lasciati dai poeti sulle clèr, si saltano muri, cancelli, scalinate, si seguono guide migranti alla scoperta di via Padova , si corre per Milano per una buona causa, si gioca per le piazze, si costruiscono lanterne, si va ad un concerto nel parco, a un cineclub nel cortile, si conosce tanta gente, si ride, si balla, si impara, si costruisce, si crea, ci si stupisce e, infine, ci si butta sul divano, si accende il computer e si aggiorna lo stato: che bella Milano!</p>

     <p>No inviti.<br>
     No dress code.<br>
     <b>Non Riservato</b>.</p>

   </div>
   

   

</div>


<div class="grid_6 statuto_holder">
 <a href='/pdf/statuto-nonriservato.pdf' class="statuto"><span>Scarica lo statuto</span></a>
</div>

