<div class="grid_12 contacts">
   <div class="banner_projects">
       <%= image_tag "banner_organizzazioni.jpg", :title => "organizzazioni" %>
   </div>
</div>

<div class="grid_12">
   <h1>Sede</h1>
   
   <div class="page_main">
     <b>La sede di Non Riservato, un luogo aperto agli amici</b><br><br>
     
     <p>Grazie alla partnership con il Comune di Milano, Non Riservato ha i suoi uffici in via Marsala 8 (Municipio 1) in una bella palazzina condivisa con altre realtà attive a Milano. </p>
     <p>Un luogo strategico, una ex scuola nel cuore della città, una vista privilegiata che dal laterizio della chiesa di Santa Maria Incoronata si eleva sulla nuova skyline di Porta Nuova, a pochi passi da Corso Como, Brera e via Sarpi, un crocevia di passato, futuro e culture che ben rappresenta lo spirito di Non Riservato.</p> 
     <p>All’interno dell’edificio, Non Riservato può muoversi tra diversi spazi: <b>2 uffici, 1 sala riunioni, 1 palestra</b>.</p>
     <p>Negli uffici si avvicendano i lavoratori stabili del progetto, si accolgono sostenitori e nuovi partner, si mantiene la memoria dei progetti realizzati e si segnano le tappe di quelli in divenire.</p> 
     <p>In linea con la filosofia di Non Riservato, gli <b>uffici</b> sono attualmente utilizzati in modalità <b>co-working</b> dai soci NR Focus e Shareradio, che qui ha installato la sua stazione web-radiofonifca.</p>
     <p>La <b>sala riunioni</b> e la <b>palestra</b> sono a disposizione dei <b>soci fondatori</b>, <b>ordinari</b> e <b>soci sostenitori</b> di Non Riservato.</p> 
     <p>Vuoi conoscere gli altri vantaggi riservati ai soci Non Riservato? <%= link_to "Esplora la pagina dedicata!", organizations_path %></p> 

   </div>

</div>




