<div class="grid_12 contacts">
   <div class="banner_projects">
       <%= image_tag "banner_organizzazioni.jpg", :title => "organizzazioni" %>
   </div>
</div>

<div class="grid_12">
   <h1>Chi siamo e cosa facciamo</h1>
   
   <div class="page_main">
      <p>Non Riservato è uno stile di vita, un esperimento di cooperazione e di sostenibilità, un laboratorio permanente di socializzazione negli spazi pubblici, un’idea di città più inclusiva, aperta, creativa, autentica, avventurosa, in poche parole, più <i>lovable & livable</i>, amabile e vivibile. Per tutti. </p>
   <p>Non Riservato è un network fondato nel 2014 da 16 organizzazioni che della creatività hanno fatto un mestiere e che in modi originali, imprevedibili e sorprendenti contribuiscono a definire un’immagine di Milano più conviviale. Il network Non Riservato è aperto a chi – privati cittadini, associazioni, professionisti, imprese, istituzioni – ne condivida la filosofia e gli obiettivi.</p> 
   <p>Live art, gioco, sport, cibo, giardinaggio, autoproduzione, formazione, esplorazioni urbane: Non Riservato produce, promuove, sperimenta, dissemina piccole e grandi incursioni negli spazi pubblici di Milano per disconnettere le persone dal web e riportarle nelle strade, nelle piazze, nei cortili, a guardarsi negli occhi, a incrociare destini, a costruire, demolire, ripulire, correre, giocare, coltivare, creare insieme. Perché della città non ci accontentiamo più di essere solo i consumatori, vogliamo esserne finalmente anche i creatori!</p> 
   <p>Esplora le pagine del sito alla scoperta di Non Riservato e dei diversi modi per farne parte!</p>
   <p>Esci dalla rete, entra in Non Riservato. <br>
   No guest list.<br>
   No dress code.<br>
   Non Riservato.</p>

   <p>Non Riservato è: Asterisma, ASF-Italia, Connecting Cultures, de.de.p., Focus, Ex-Voto, Garten, Giambellitaly, Giardini in transito, HC, IRA-C, Parasite 2.0, Podisti da Marte, Shareradio, Temporiuso, Tutamondo.</p>

   </div>

</div>




