<div class="grid_7">
  <%= link_to new_admin_post_path, class: 'big_add_new o_6' do %>
    Post
    <div>aggiungi un nuovo post</div>
  <% end %>

  <p class="uppercase_divider post"><%= t('.modify_existing') %></p>

  <%= render "/posts/post_small" %>
</div>
