<div class="grid_7">
   <a href="/admin/posts/new" class="big_add_new o_6" >post<div>aggiungi un nuovo post</div></a>
   
   <p class="uppercase_divider post">o modificane uno esistente</p>

   <%= render "/posts/post_small" %>
   
</div>