<div class="grid_12">
   <!-- <div class="banner_posts">
      <%= image_tag "banner_blog.jpg", :title => "progetti" %>
      <div>Blog non riservato</div>
   </div> -->
   
   <%= render "posts/post" %>
</div>