<%= link_to organization_path(organization_small), :class => "organization_as_list clearfix" do %>
   <div class="square_logo small"><%= image_tag(organization_small.logo(:small_thumb)) %></div>
   <div class="name"><%= organization_small.name %></div>
<% end %>