<div class="grid_12">
  <div class="banner_organizzazioni">
    <%= image_tag "banner_organizzazioni.jpg", :title => "organizzazioni" %>
    <div>organizzazioni non riservate</div>
  </div>

  <% if @section.present? %>
    <div class="intro">
      <%= markdown_d @section.description %>
    </div>
  <% end %>

  <div class="sort_bar">
    <span>Ordina per:</span> <%= sort_link @search, :name, "Nome" %>
  </div>

  <%= render "organizations/organization" %>
</div>
