<div class="grid_4">

   <% if admin? %>
   <div class="box_dashboard admin">
      <h3>non riservato</h3>
   
      <%= link_to  new_organization_invitation_path, :class => "big_add_new o_8" do %>
         ente<div>invita un nuovo ente</div>
      <% end %>
      
      <a href="/admin/posts/new" class="big_add_new o_8" >post<div>aggiungi un nuovo post</div></a>
   
      <%= link_to  new_admin_workshop_path, :class => "big_add_new o_8" do %>
         workshop<div>carica un nuovo workshop</div>
      <% end %>
   
   
   </div>   
   <% end %>

   <div class="box_dashboard">
      <h3>contenuti</h3>
   
      <a href="/admin/projects/new" class="big_add_new o_2" >progetto<div>aggiungi un nuovo progetto</div></a>
   
      <%= link_to  new_admin_event_path, :class => "big_add_new o_3" do %>
         evento<div>aggiungi un nuovo evento</div>
      <% end %>
   
   </div>



</div>


