<div class="flags">
  <%= link_to('', {locale: 'it'}, class: "wd_flag inline_flag sprite_flag_30x19 IT86") %>
  <%= link_to('', {locale: 'en'}, class: "wd_flag inline_flag sprite_flag_30x19 GB31") %>
</div>
